<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ProjectsManager.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ProjectsManager.Properties.Settings.projectsmanagerConnectionString" connectionString="Data Source=TESTSRV;Initial Catalog=projectsmanager;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <userSettings>
        <ProjectsManager.Settings1>
            <setting name="SQLServer" serializeAs="String">
                <value/>
            </setting>
            <setting name="ReportsFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="BackupFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value/>
            </setting>
            <setting name="ServerUser" serializeAs="String">
                <value/>
            </setting>
            <setting name="ServerPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="ServerConnectTimeout" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ApplicationUsername" serializeAs="String">
                <value/>
            </setting>
            <setting name="ApplicationPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="LoginAsADUser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PhotosPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="BackupInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BackupTimer" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ReminderTimer" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="AutoLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InstituteColumnFilter" serializeAs="String">
                <value>,[name] as [اسم المنشأة]</value>
            </setting>
            <setting name="PlantColumnFilter" serializeAs="String">
                <value>,[plant] as [اسم الوحدة]</value>
            </setting>
            <setting name="APPFRUN" serializeAs="String">
                <value>True</value>
            </setting>
        </ProjectsManager.Settings1>
    </userSettings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
